export GREP_COLOR="10;33"
export COLOR_FLAG="auto"

# ---------------------------绑定别名 c----------------
# 跳转操作
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -='cd -'
alias cds='echo "`pwd`" > ~/.cdsave'
alias cdb='cd "`cat ~/.cdsave`"'

# 清屏操作: cs
alias cs='clear'
# --------------------------------------------------------


# ---------------------------绑定别名 f------------------
# 统计c++文件行数
#alias f.c++n='find . -type f -print0 | grep --color=no -zaiE ".*\.(cpp|hpp|c|h|hh|cxx|cc)$"|xargs wc -l'

# 查找c++文件
alias f.c++='find . -type f -print0 | grep --color=no -zaiE ".*\.(cpp|hpp|c|h|hh|cxx|cc)$"|xargs -0 grep -aHn --color=$COLOR_FLAG'

# 查找函数
alias f.cb='find_callback(){ str="[>\.]+\s*"$@"\s*\("; find . -type f -print0 | grep --color=no -zaiE ".*\.(cpp|hpp|c|h|hh|cxx|cc)$"|xargs -0 grep -aHnP --color=$COLOR_FLAG $str; }; find_callback'

# 查找调用
alias f.call='find_call(){ str="[^a-zA-Z_]+"$@"\s*\("; find . -type f -print0 | grep --color=no -zaE ".*\.(cpp|hpp|c|h|hh|cxx|cc)$"|xargs -0 grep -aHnp --color=$COLOR_FLAG $str; }; find_call'

# 查找头文件
alias f.h='find . -type f -print0 | grep --color=no -zaiE ".*\.(hpp|h|hh|hxx)$" | xargs -0 grep -aHn --color=$COLOR_FLAG'

# 查找make或cmake文件
alias f.mk="find . -type f -print0 | grep --color=no -zaiE '(\.mak$)|(\.c?make$)|(\.mk$)|(/.*makefile[^//]*$)|(/cmakelists.txt$)|(BUILD$)|(WORKSPACE$)|(\.bzl$)|(\.gradle$)' | xargs -0 grep -aHn --color=\$COLOR_FLAG"

# 查找go文件
alias f.go='find . -type f -print0 | grep --color=no -zaiE ".*\.(go)$" | xargs -0 grep -aHn --color=$COLOR_FLAG'

# 查找vendor
# alias f.gosrc='find . -path "./vendor/*" -prune -o -name "*.go" -type f -print0 | xargs -0 grep -aHn --color=$COLOR_FLAG'

alias f.sql='find . -type f -name "*.sql" -print0 | xargs -0 grep -aHn --color=$COLOR_FLAG'
alias f.md='find . -type f -name "*.md" -print0 | xargs -0 grep -aHn --color=$COLOR_FLAG'
alias f.log='find . -type f -name "*.log" -print0 | xargs -0 grep -aHn --color=$COLOR_FLAG'
alias f.ini='find . -type f -print0 | grep --color=no -zaiE ".*\.(ini|cfg|conf|xml|json|yaml)$" | xargs -0 grep -aHn --color=$COLOR_FLAG'
alias f.pb='find . -type f -print0 | grep --color=no -zaiE "(\.proto$)" | xargs -0 grep -aHn --color=$COLOR_FLAG'
alias f.js='find . -type f -print0 | grep --color=no -zaiE ".*\.(js|ts)$" | xargs -0 grep -aHn --color=$COLOR_FLAG'
alias f.lua='find . -type f -print0 | grep --color=no -zaiE ".*\.(lua)$" | xargs -0 grep -aHn --color=$COLOR_FLAG'
# --------------------------------------------------------


# ---------------------------绑定别名 g-----------------
# 统计项目数量
#alias gsum='git log  --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf "added lines: %s, removed lines: %s, total lines: %s\n", add, subs, loc }' -'

# 显示所有的分支
alias gb='git branch --all|less'

# 显示所有的tag
alias gt='git tag|less'

# 比对git
alias gd='git diff'

# 查看日志
alias gl='git log'

# 统计项目大小
alias gc='git count-objects -vH'

# 子模块更新
alias gs.upd='git submodule update --recursive --init --remote'

# 删除子模块
alias git.sub-del='__df_git_submodule_delete'
function __df_git_submodule_delete() {
    if [[ "$#" -ne 1 ]]; then
        echo 'Usage: __df_git_submodule_delete <submoudle-path>' >&2
        return 1
    fi
    git submodule deinit "$1"
    git rm --cached "$1"
}

# 提交代码前拉取
alias g.push='git pull && git push'
# --------------------------------------------------------


# ---------------------------绑定别名 l----------------
# 示例：ls
alias ls="ls --show-control-chars --color=auto -A"

# 示例：l
alias l='ls --show-control-chars --color=auto -Ah'

# 示例：ll
alias ll='ls --show-control-chars --color=auto -lAh'

# 示例：lll
alias lll='ls --show-control-chars --color=auto -lA'
# --------------------------------------------------------


# ---------------------------绑定别名 n---------------------
# 测试网络是否正常
alias nok='ping www.baidu.com'

# 查看网络配置
alias ncfg='ifconfig'
# --------------------------------------------------------


# ---------------------------绑定别名 s---------------------
# 当前用户配置生效
alias sb='source ~/.bashrc'

# 全局生效
alias sbg='source /etc/profile'

# 切换到src目录
alias src='cd /usr/local/src'

# --------------------------------------------------------


# ----------------------------绑定别名 其他---------------
# 示例：vi
alias vi='vim'

# 安全操作：删除/复制/移动
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias md='mkdir -p'

# 退出操作：q
alias q='exit'

# 切换到/usr/local/src/work目录
alias work='cd /usr/local/src/work'
# --------------------------------------------------------


# ----------------------------绑定别名 第三方应用---------
# 打开chrome;需要安装google-chrome
alias ww='nohup google-chrome &>/dev/null &'

# 装逼命令;需要安装cmatrix
alias b='cmatrix'

# --------------------------------------------------------